@media screen and (max-width: 1000px){
    article{
        width: 45%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 600px){
    article{
        border-radius: 20px;
        width: 100%;
        margin: 20px;
    }

    .ancho_movil{
        max-width: 400px;
        margin: auto;
    }

    .btn-precio{
        border-radius: 30px;
    }
}